* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  max-width: 1080px;
}

/* body { */
/*   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", */
/*     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", */
/*     sans-serif; */
/*   -webkit-font-smoothing: antialiased; */
/*   -moz-osx-font-smoothing: grayscale; */
/* } */
/**/
/* code { */
/*   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
/*     monospace; */
/* } */
.TopBackground{
  width: 100vw;
  height: 45vh;

}
.TopSide{
  width: 100vw;
  height: 45vh;
  position: relative;
}
.EnemyUnitContainer{
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  /*left: 0; */
  /*right: 0; */
  /*margin-left: auto; */
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100vw;
  height: 45vh;
}
.EnemyUnit{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.EnemyUnit .UnitStatus{
  color:white;
}
.EnemyUnitSpiderImg{
  width: 34vw;
  max-width: 300px;
  height: 20vh;
}
.EnemyUnitKnightImg{
  width: 20vw;
  height: 32vh;
}
.BottomSide{
  width: 100vw;
  height: 45vh;
}
.PlayerUnitContainer{
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  height: 30vh;
  gap:0;
}
.PlayerUnit{
  /*display: flex;*/
  /*margin: 0, 0, 0, 0;*/
  /*top: 0;*/
  /*left: 0;*/
  flex-grow: 1;
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.PlayerUnit .Name{
  position: absolute;
  top: 1vh;
  right: 2vw;
  color: white;
  left: 50%;
  top: 6%;
  transform: translate(-50%,-50%);
}
.PlayerUnit .HP{
  position: absolute;
  top: 2vh;
  right: 2vw;
  color: red;
}
.PlayerUnit .MP{
  position: absolute;
  top: 6vh;
  right: 2vw;
  color: white;
}
.UnitPortraitBack{
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 20vw;*/
  /*height: 30vh;*/
  width: 100%;
  height: 100%;

}
.UnitPortraitImg{
  position: absolute;
  bottom: 0;
  /*width: 19vw;*/
  /*height: 20vh;*/

  width: 97%;
  height: 68%;
}
.Actions{
  height: 20vh;
  background-color: rgb(138, 138, 138);
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;

}
.Actions .m{
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  align-items: center;
}

.Actions img{

  width: 60%;
  height: 60%;
}
.Actions .p{
}
.NavBar{
  //visibility: hidden;
  position: absolute;
  bottom:0;
  width: 100vw;
  height: 10vh;
  display: flex;
  gap: 25vw;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: black;
  border-color: white;
}
.NavBarButton{
  color: black;
  background-color: black;
  border: none;
  width: 5vw;
  height: 5vh;
}
.NavBarButtonImg{
  width: 5vw;
  height: 5vh;
}


.TaskContainer{
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin-left: 5vw;
}
.Task{
  background-color: rgb(50, 50, 50);
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
  gap: 5vw;
  border-radius: 10% / 50% 0 0 50% ;
}
.Task img{
  height: 5vh;
  margin: 0 0 0 5vw;
}
/*.Task:nth-child(-n+2){*/
.Taskh{
  background-color: rgb(138, 138, 138);
}
.TaskContainer h2{
  color: white;
  text-align: center;
}
.Friend{
  background-color: rgb(138, 138, 138);
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
  gap: 5vw;
  border-radius: 10% / 50% 0 0 50% ;
}
.Friend img{
  height: 7vh;
  margin: 0 0 0 5vw;
}
.FriendsContainer{
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin-left: 5vw;
}
.FriendsContainer h2{
  color: white;
  text-align: center;
}
.FriendsContainer p {
  color: white;
  text-align: center;
}
.MenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.MenuContainer h2{
  color: white;
  text-align: center;

}
.MenuContainer p {
  color: white;
  text-align: center;
}
.MenuContainer img {
  height: 90%;
  width: 90%;

}
.MenuContainerLink {
  position: absolute;
  display: block;
  background-color: white;
  color: black;
  height: 10vh;
  width: 80vw;
  text-align: center;
  bottom:30vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
.Task{
  text-align: center;
  background-color: greey;

  min-height: 10vh;
  min-width: 80vw;

}

.App {
  background-color: black;

  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  /*text-align: center;*/
  /*font-size: calc(10px + 2vmin);*/
}

.Space {
  min-height: 10vmin;
  /* height: 6vmin; */
}

.Player {
  min-height: 30vmin;
  display: flex;
  flex-direction: row;
}

.CharacterBar {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  height: 30%;
}

.Progress {
  width: 100%;
  background-color: grey;
}

.Bar {
  width: 1%;
  height: 30px;
  background-color: red;
}

.Avatar {
  /* display: inline; */
  /* float: left; */
  height: 40vmin;
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* position: absolute; */
  /* right: 3%; */
  /* top: 3%; */
  animation: Avatar-float infinite 3s ease-in-out;
}

@keyframes Avatar-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.ActionNav {
  /* min-width: 100vmin; */
  min-height: 30vmin;
  border: 1px solid white;
  border-radius: 10px;
  bottom: 0;
  /* height: 45vmin; */
  color: white;
  /* display: flex; */
}

.ActionButton {
  display: flex;
  flex-flow: row wrap;
  /* height: 100%; */
  height: 10vmin;
  color: white;
}

.ActionButton button {
  height: 100%;
  width: 50%;
  color: white;
  background-color: black;
  /* height: 50%;   */
}

/* The side navigation menu */
.SideNav {
  height: 0;
  /* 100% Full-height */
  width: 100%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  bottom: 0;
  /* Stay at the top */
  /*top: 0; Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.SideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.SideNav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.SideNav .closeBtn {
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: red;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) { */
/*   .sidenav {padding-top: 15px;} */
/*   .sidenav a {font-size: 18px;} */
/* }  */

.Item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin: 0 20vmin 0 20vmin; */
  margin: auto;
  font-size: calc(10px + 2vmin);
  border: 1px solid white;
  height: 30vmin;
  width: 100%;
  background-color: black;
}

.Item:active {
  background-color: olive;
}

.ItemImg {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  height: 25vmin;
  width: 25vmin;
  margin: 0 3% 0 2%;
  /* display: flex; */
  /* display: inline-block; */
  /* animation: Avatar-float infinite 3s ease-in-out; */
}

.ItemDesc {
  display: flex;
  /* align-items: flex-start; */
  /* float: left; */
  /* display: flex; */
  /* display: inline-block; */
  /* display: flex; */
  color: white;
}
