* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body { */
/*   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", */
/*     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", */
/*     sans-serif; */
/*   -webkit-font-smoothing: antialiased; */
/*   -moz-osx-font-smoothing: grayscale; */
/* } */
/**/
/* code { */
/*   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
/*     monospace; */
/* } */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
.Task{
  text-align: center;
  background-color: greey;

  min-height: 10vh;
  min-width: 80vw;

}

.App {
  text-align: center;
  background-color: black;

  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Space {
  min-height: 10vmin;
  /* height: 6vmin; */
}

.Player {
  min-height: 30vmin;
  display: flex;
  flex-direction: row;
}

.CharacterBar {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  height: 30%;
}

.Progress {
  width: 100%;
  background-color: grey;
}

.Bar {
  width: 1%;
  height: 30px;
  background-color: red;
}

.Avatar {
  /* display: inline; */
  /* float: left; */
  height: 40vmin;
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* position: absolute; */
  /* right: 3%; */
  /* top: 3%; */
  animation: Avatar-float infinite 3s ease-in-out;
}

@keyframes Avatar-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.ActionNav {
  /* min-width: 100vmin; */
  min-height: 30vmin;
  border: 1px solid white;
  border-radius: 10px;
  bottom: 0;
  /* height: 45vmin; */
  color: white;
  /* display: flex; */
}

.ActionButton {
  display: flex;
  flex-flow: row wrap;
  /* height: 100%; */
  height: 10vmin;
  color: white;
}

.ActionButton button {
  height: 100%;
  width: 50%;
  color: white;
  background-color: black;
  /* height: 50%;   */
}

/* The side navigation menu */
.SideNav {
  height: 0;
  /* 100% Full-height */
  width: 100%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  bottom: 0;
  /* Stay at the top */
  /*top: 0; Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.SideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.SideNav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.SideNav .closeBtn {
  position: fixed;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: red;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) { */
/*   .sidenav {padding-top: 15px;} */
/*   .sidenav a {font-size: 18px;} */
/* }  */

.Item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin: 0 20vmin 0 20vmin; */
  margin: auto;
  font-size: calc(10px + 2vmin);
  border: 1px solid white;
  height: 30vmin;
  width: 100%;
  background-color: black;
}

.Item:active {
  background-color: olive;
}

.ItemImg {
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  height: 25vmin;
  width: 25vmin;
  margin: 0 3% 0 2%;
  /* display: flex; */
  /* display: inline-block; */
  /* animation: Avatar-float infinite 3s ease-in-out; */
}

.ItemDesc {
  display: flex;
  /* align-items: flex-start; */
  /* float: left; */
  /* display: flex; */
  /* display: inline-block; */
  /* display: flex; */
  color: white;
}
