* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  max-width: 854px;
  /*font-family: arial, helvetica, sans-serif;*/
  /*font-family: "lucida console", "courier new", monospace;*/

}

 body { 
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", 
     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 
     sans-serif; 
   -webkit-font-smoothing: antialiased; 
   -moz-osx-font-smoothing: grayscale; 
 } 

 code { 
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", 
     monospace; 
 } 
.Setting{
  position: absolute;
  height: 3vh;
  width: 3vw;
  z-index: 1;
  top: 0.5vh;
  right: 0.5vw;
  min-width: 30px;
  min-height: 30px;
 
}
.TopBackground{
  width: 100vw;
  height: 100%;

}
.TopSide{
  width: 100vw;
  height: 48vh;
  position: relative;
}
.EnemyUnitContainer{
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  /*left: 0; */
  /*right: 0; */
  /*margin-left: auto; */
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100vw;
  height: 100%;

  gap:16%;
  font-size: 2.5vh;
}
.EnemyUnit{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EnemyUnit .UnitStatus{
  color:white; 
}
.UnitStatusDecs {
  position: relative;
  top: 14vh;
}
.UnitStatusDecs .ReBoss{
  position: relative;
  top: 4vh;
}
.EnemyUnitSpiderImg{
  position: absolute;
  width: 34vw;
  max-width: 300px;
  height: 20vh;
}
.EnemyUnitBossImg{
  position: absolute;
  top: 11%;
  width: 20vw;
  max-width: 200px;
  min-width: 100px;
  height: 32vh;
}
.EnemyUnitImgBack{
  filter: contrast(0%) brightness(2);
}
.EnemyUnitStatus{
  display: flex;
  justify-content: flex-start;
  left: 0.5vw;
  width: 25vw;
  max-width: 5vw;
  max-height: 5vh;
  min-height: 2vh;
}


.EnemyUnitStatus img{
  max-width: 5vw;
  max-height: 5vh;
  min-height: 2vh;
}
.SelectEnemyUnit{
  animation: blink normal 2.2s infinite ease-in-out; 
}

.TakeDamage {
  animation: redblink normal 2.2s infinite ease-in-out; 
}
.Sprite {
  filter: opacity(0.5) drop-shadow(0 0 0 blue);
  position: absolute;
  z-index: 1;
  color: #000;
  animation-delay: 0s;
  height: 96px;
  width: 96px;
  background: url("../assets/anim.png");
  /*d*/
  animation: sprite 0.7s steps(6) infinite;
  transform: scale(6.5);
}
@keyframes sprite {
  from { background-position: 0px; }
  to { background-position: -576px; }
}

@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.4;
    }
    100% {
        opacity:1;
    }
}
@keyframes whiteblink {
    0% {
        filter: contrast(100%) brightness(1);
    }
    50% {
        filter: contrast(50%) brightness(2);
    }
    100% {
        filter: contrast(100%) brightness(1);
    }
}
@keyframes redblink {
    0% {
      filter: drop-shadow(6px 6px 10px red) invert(5%);
    }
    50% {
      filter: drop-shadow(6px 6px 10px red) invert(35%);
    }
    100% {
      filter: drop-shadow(6px 6px 10px red) invert(75%);
    }
}
.BottomSide{
  width: 100vw;
  height: 52vh;
}
.PlayerUnitContainer{
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  height: 25vh;
  gap:0;
}
.PlayerUnit{
  /*display: flex;*/
  /*margin: 0, 0, 0, 0;*/
  /*top: 0;*/
  /*left: 0;*/
  flex-grow: 1;
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.PlayerUnit .Name{
  position: absolute;
  color: white;
  top: 0.3vh;
  text-align: center;
  margin: auto;
  font-size:2vh;
  font-weight: bold;
  /*top: 50%;*/
  /*margin-top: -0.625em;*/
}
.PlayerUnit .HP{
  position: absolute;
  top: 2vh;
  right: 1vw;
  color: white;
  font-size:2vh;
  font-weight: bold;
}
.PlayerUnit .MP{
  position: absolute;
  top: 5vh;
  right: 1vw;
  color: white;
  font-size:2vh;
  font-weight: bold;
}
.UnitPortraitBack{
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 20vw;*/
  /*height: 30vh;*/
  width: 100%;
  height: 100%;

}
.UnitPortraitImg{
  position: absolute;
  bottom: 0;
  /*width: 19vw;*/
  /*height: 20vh;*/

  width: 97%;
  height: 68%;
}
.UnitPortraitImgDiv{
  position: absolute;
  bottom: 0;
  /*width: 19vw;*/
  /*height: 20vh;*/

  width: 97%;
  height: 68%;
  background-color: white;
  color:white;

}
.PlayerUnitStatus{
  display: flex;
  justify-content: flex-start;
  top: -2vh;
  left: 0.5vw;
  position: absolute;
  width: 25vw;
  max-width: 5vw;
  max-height: 5vh;
  min-height: 2vh;
}
.PlayerUnitStatus img{
  max-width: 5vw;
  max-height: 5vh;
  min-height: 2vh;
}
.UnitInfoModal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size:2vh;
  font-weight: bold;
}

.UnitInfoModalBack{
  /*bottom: 0;*/
  /*width: 20vw;*/
  /*height: 30vh;*/
  width: 100%;
  height: 100%;

  height: 80%;
  width: 80%;
  flex-grow: 1;
  position: relative;



  background-color: rgb(138, 138, 138);
  border: 0.5vw solid black;
  margin: 15% auto;
}
.UnitInfoModalPortraitImg{
  top: 5%;
  left: 5%;
  /*width: 19vw;*/
  /*height: 20vh;*/

  border: 0.5vw solid black;
  width: 64%;
  height: 32%;
  min-width: 250px;
  /*align-self: flex-start;*/
  /*margin: auto;*/

  margin-left: 2%;
}
.UnitInfoModalStatus{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*top: -2vh;*/
  /*left: 0.5vw;*/
  width: 25vw;
  max-width: 5vw;
  max-height: 5vh;
  min-height: 2vh;
  margin-left: 2%;
}
.UnitInfoModal .Name{
  margin-left: 2%;
}
.UnitInfoModal .MP{
  margin-left: 2%;
}
.UnitInfoModal .HP{
  margin-left: 2%;
}
.UnitInfoModalTraits{
  margin-left: 2%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*.PlayerUnitStatus img{*/
/*  max-width: 5vw;*/
/*  max-height: 5vh;*/
/*  min-height: 2vh;*/
/*}*/
.Actions{
  height: 17vh;
  background-color: rgb(138, 138, 138);
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  min-height: 12vh;

  font-size: 2.5vh;
}
.Actions .m{
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  align-items: center;
  border: 0.5vw solid black;
}

.Actions img{
  width: 60%;
  height: 60%;
  min-height: 12vh;
  max-width: 12vh;
}
.Actions .p{
}
.Description{
  height: 10vh;
  background-color: rgb(138, 138, 138);
  width: 100vw;
  text-align: center;
  font-size: 2.5vh;
  border: 0.5vw solid black;

  vertical-align: text-bottom;
}

.Description p{

  text-align: center;
  background-color: white;
}
.NavBar{
  //visibility: hidden;
  position: fixed;
  bottom:0;
  width: 100%;
  height: 10vh;
  display: flex;
  gap: 15vw;
  align-items: center;
  justify-content: space-around;
  color: black;
  background-color: black;
  border-color: white;
}
.NavBarButton{
  color: black;
  background-color: black;
  border: none;
  width: 5vw;
  height: 5vh;
  max-width: 60px;
  min-height: 40px;
  min-width: 35px;
}
.NavBarButtonImg{
  max-width: 60px;
  width: 5vw;
  height: 5vh;
}


.TaskH2{
  margin-bottom: 2vh;
  margin-top: 2%;
}
.TaskContainer{
  display: flex;
  flex-direction: column;
  width: 100%;

  font-size:3vh;

}
.Task{
  background-color: rgb(50, 50, 50);
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
  gap: 5vw;
  border-radius: 10% / 50% 0 0 50% ;
  max-width:90%;

  margin-left: 10%;
  font-size:3vh;
}
.Task img{
  height: 5vh;
  margin: 0 0 0 5vw;
}
/*.Task:nth-child(-n+2){*/
.Taskh{
  background-color: rgb(138, 138, 138);
}
.TaskContainer h2{
  color: white;
  text-align: center;
}
.Memo{
  display: flex;
  color: white;
  background-color: rgb(138, 138, 138);
  min-height: 40vh;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Friend{
  background-color: rgb(138, 138, 138);
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
  gap: 5vw;
  border-radius: 10% / 50% 0 0 50% ;

  margin-left: 5%;
  font-size:3vh;
}
.Friend img{
  height: 7vh;
  margin: 0 0 0 5vw;
}
.FriendsContainer{
  display: flex;
  flex-direction: column;
  font-size:3vh;
}
.FriendsContainer h2{
  color: white;
  text-align: center;
}
.FriendsContainer p {
  color: white;
  text-align: center;
}
.MenuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size:3vh;
}
.MenuContainer h2{
  color: white;
  text-align: center;

}
.MenuContainer p {
  color: white;
  text-align: center;
}
.MenuContainerImg {
  height: 90%;
  width: 90%;

}
.MenuContainerLink {
  display: block;
  background-color: white;
  color: black;
  height: 10vh;
  width: 80vw;
  text-align: center;
  margin-top: 5vh;
  text-decoration: none;
}
.Inventory{
  height: 60vh;
  width: 80vw;
  max-width:90%;
  background-color: rgb(138, 138, 138);
  border-radius: 10% / 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
    display: flex;
    justify-content: center;
    align-items: center
}
.Inventory .PlayerUnit{
  height: 20vh;
  width: 20vw;
  min-width: 40%;
  min-height: 50%;

  max-width:304px;
}
.Inventory .UnitPortraitImg{
  position: absolute;
  bottom: 0;
  /*width: 19vw;*/
  /*height: 20vh;*/

  margin: auto;
  width: 87%;
  height: 68%;
}
.Inventory .TraitsIcon{
  position: absolute;
  bottom: 0;
  left: -1vh;

  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
  height: 68%;
  width: 90%;
}
.Inventory .TraitIcon{
  height: 10vh;
  max-height: 35%;
  width: 10vw;
  max-width: 30%;
}
.Inventory .PlayerUnit .Name{
  position: absolute;
  color: white;
  top: 1.5vh;
  text-align: center;
  margin: auto;
  font-size:3vh;
  font-weight: bold;
  /*top: 50%;*/
  /*margin-top: -0.625em;*/
}
.Inventory .PlayerUnit .HP{
  position: absolute;
  top: 4vh;
  right: 3vw;
  color: white;
  font-size:2vh;
  font-weight: bold;
}
.Inventory .PlayerUnit .MP{
  position: absolute;
  top: 7vh;
  right: 3vw;
  color: white;
  font-size:2vh;
  font-weight: bold;
}



/*ul {*/
/*  list-style-type: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  overflow: hidden;*/
/*  background-color: #333;*/
/*  position: fixed;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*}*/
/**/
/*li {*/
/*  float: center;*/
/*}*/
/**/
/*li a {*/
/*  display: block;*/
/*  color: white;*/
/*  text-align: center;*/
/*  padding: 14px 16px;*/
/*  text-decoration: none;*/
/*}*/
/**/
/*li a:hover:not(.active) {*/
/*  background-color: #111;*/
/*}*/
/**/
/*.active {*/
/*  background-color: #04AA6D;*/
/*}*/
/*.Task{*/
/*  text-align: center;*/
/*  background-color: greey;*/
/**/
/*  min-height: 10vh;*/
/*  min-width: 80vw;*/
/**/
/*}*/
/**/
.App {
  background-color: black;

  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
  /*text-align: center;*/
  /*font-size: calc(10px + 2vmin);*/
}

